# Deploy to Surge.sh
name: Deploy to Surge

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Surge.sh
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to Surge
        run: surge . ${{ secrets.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}
